* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
     background:rgb(235 225 225);

}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* height: 100vh; */
    background:rgb(235 225 225);
}

.centerBody {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 1100px;
    padding: 40px;
}

#heading {
    padding: 20px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: black;
    text-shadow: 1px 2px 3px crimson;
    font-size: 2.1rem;
}

#msg {
    color: crimson;
    text-shadow: 1px 1px 1px rgb(8, 8, 8);
    text-transform: capitalize;
}

#msgs {
    color: crimson;
    text-transform: capitalize;
}

#myWords {
    background: #444;
    padding: 20px 20px;
    font-size: 1.2rem;
    border: 8px solid rgb(221, 132, 150);
    box-sizing: 0 0 1px rgba(0, 0, 0, 0.2);
    color: white;
    outline: none;
    border-radius:20px ;
}

button {
    border: none;
    background-color: #34495e;
    color: white;
    font-size: 1.2rem;
    width: 150px;
    height: 70px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 43%;
}

button:hover {
    background-color: #213c4e;
}

@media(max-width:600px) {
    .centerBody {
        /* border: 1px solid red; */
        width: 580px;
        padding: 10px;
    }

    button {
        margin-left: 37%;
    }
    #myWords{
        width: 560px;
        height: 300px;
    }
}

@media(max-width:440px) {
    .centerBody {
        /* border: 1px solid red; */
        width: 380px;
        padding: 10px;
    }
    #myWords{
        width: 360px;
        height: 300px;
    }

    button {
        margin-left: 28%;
    }
}